<div class="col-md-12">
<%= simple_form_for(@asset_manage) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-6">
    <%= f.input :seq, :label => "序列号 Seq" %>
    <%= f.input :category, :label => "种类 Category" %>
    <%= f.input :product, :label => "物品名称 Product" %>
    <%= f.input :producer, :label => "生产商 Producer" %>
    <%= f.input :brand, :label => "品牌 Brand" %>
    <%= f.input :model, :label => "规格型号 Model" %>
    <%= f.input :unit, :label => "单位 Unit" %>
  </div>
    
  <div class="col-md-6">
    <%= @asset_manage.photo.size ? "<img src='#{@asset_manage.photo.url}' width=200 height=200 />".html_safe : nil %>
    <%= f.input :photo, :label => "图片 Picture" %>
    <%= f.input :remarks, :label => "备注 Remarks" %>
    <%= f.input :price, :label => "单价 Price" %>
  </div>

  <div class="col-md-12">
    <%= f.button :submit %>
  </div>

<% end %>
</div>