<script>
<% js = escape_javascript(
  render(partial: 'asset_manages/list', locals: { asset_manages: @asset_manages })
) %>
$("#filterrific_results").html("<%= js %>");
</script>

<p id="notice"><%= notice %></p>

<h1>Listing Asset Manages</h1>

<%= form_for_filterrific @filterrific, :class => "form-horizontal" do |f| %>
  <div class="form-group">
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'asset_manages/list',
  locals: { asset_manages: @asset_manages }
) %>

<%= will_paginate @asset_manages %>