<p id="notice"><%= notice %></p>




  <ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"
        >物品信息</a>
    </li>
    <li role="presentation" class="">
      <a href="#log" id="log-tab" role="tab" data-toggle="tab" aria-controls="log" aria-expanded="false"> 物品记录
      </a>
    </li>
    <li role="presentation" class="">
      <a href="#statistic" id="statistic-tab" role="tab" data-toggle="tab" aria-controls="statistic" aria-expanded="false"> 统计
      </a>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

      <p>
        <strong>Brand:</strong>
        <%= @asset_manage.brand %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @asset_manage.category %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @asset_manage.model %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= @asset_manage.owner_id %>
      </p>

      <p>
        <strong>Producer:</strong>
        <%= @asset_manage.producer %>
      </p>

      <p>
        <strong>Product:</strong>
        <%= @asset_manage.product %>
      </p>

      <p>
        <strong>Photo:</strong>
        <%= @asset_manage.photo.size ? "<img src=#{@asset_manage.photo.url} width=200 />".html_safe : nil %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @asset_manage.price %>
      </p>

      <p>
        <strong>Qty:</strong>
        <%= @asset_manage.qty %>
      </p>

      <p>
        <strong>Stock in number:</strong>
        <%= @asset_manage.stock_in_number %>
      </p>

      <p>
        <strong>Stock out number:</strong>
        <%= @asset_manage.stock_out_number %>
      </p>

      <p>
        <strong>Unit:</strong>
        <%= @asset_manage.unit %>
      </p>

      <p>
        <strong>Remarks:</strong>
        <%= @asset_manage.remarks %>
      </p>

      <p>
        <strong>Seq:</strong>
        <%= @asset_manage.seq %>
      </p>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="log" aria-labelledby="log-tab">
      <%=render 'logs/index'%>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="statistic" aria-labelledby="statistic-tab">
      <%= pie_chart @graph, discrete: true %>



      <table class="table">
        <tr><th>学部</th><th>出库数</th></tr>
        <% @graph.each do |column| %>
          <tr>
            <td><%=column[0]%></td> <td><%=column[1]%></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

<%= link_to 'Edit', edit_asset_manage_path(@asset_manage) %> |
<%= link_to 'Back', asset_manages_path %>

