<%= simple_form_for(@user, :url => @user.id ? department_user_path(@department, @user) : department_users_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dept_uuid, 
                :collection => 
                Department.all.map { 
                  |k,v| 
                  ["#{k.department_name}", k.dept_uuid] }, prompt: "所在学部"
    %>
    <%= f.input :group_id, :collection => Group.all.map { |k, v| ["#{k.group_name}", k.id] }, prompt: "所在员工部门"  %>
    <%= f.input :username %>
    <%= f.input :budget %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
