<p id="notice"><%= notice %></p>

<p>
  <strong>Department name:</strong>
  <%= @department.department_name %>
</p>

<p>
  <strong>Dept uuid:</strong>
  <%= @department.dept_uuid %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @department.budget %>
</p>
<%= link_to 'List Users ( Current Department )', department_users_path(@department.dept_uuid) %> |
<%= link_to 'Edit', edit_department_path(@department.dept_uuid) %> |
<%= link_to 'Back', departments_path %>
