<p id="notice"><%= notice %></p>
<% if @forbidden == true && current_admin.is_master === false %>
  
<h4>你当前没有权限管理这个部分!</h4>
  
<% else %>

<h2><%= @department.department_name %> - 所有员工</h2>


<%= render 'users/index' %>

<%= link_to 'Edit', edit_department_path(@department.dept_uuid) %> |
<%= link_to 'Back', departments_path %>
<% end %>