<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Asset manage seq</th>
      <th>User</th>
      <th>Admin</th>
      <th>Action type</th>
      <th>Qty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= link_to log.asset_manage.product, asset_manage_path(log.asset_manage) %></td>
        <td><%= log.user ? link_to(log.user.username, department_user_path(log.user.department, log.user)) : nil %></td>
        <td><%= log.admin.name %></td>
        <td><%= log.action_type %></td>
        <td><%= log.qty %></td>
      </tr>
    <% end %>
  </tbody>
</table>

