<p id="notice"><%= notice %></p>

<h1>Listing Logs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Asset manage seq</th>
      <th>User uuid</th>
      <th>Admin</th>
      <th>Action type</th>
      <th>Qty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.asset_manage ? link_to(log.asset_manage.product, asset_manage_path(log.asset_manage)) : nil %></td>
        <td><%= log.user ? link_to(log.user.username, department_user_path(log.user.department, log.user)) : nil %></td>
        <td><%= log.admin ? log.admin.email : nil %></td>
        <td><%= log.action_type == 'in' ? 
                "<span class='label label-success'>入库</span>".html_safe : 
                "<span class='label label-danger'>出库</span>".html_safe %></td>
        <td><%= log.qty %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Log', new_log_path %></p>

<%= will_paginate @logs %>