<h4>统计</h4>

<table class="table">

<tr>
	<th>总出库数量</th>
	<th>总入库数量</th>
	<th>总员工数</th>
</tr>

<tr>
	<td><%=@logOutCount%></td>
	<td><%=@logInCount%></td>
	<td><%=@userCount%></td>
</tr>
</table>

<h5>比例</h5>

<%= pie_chart @c1, discrete: true %>

<h4>导出</h4>

<%=link_to "导出表1", export_table_1_path	%>
<%=link_to "导出表2", export_table_2_path	%>


