<p id="notice"><%= notice %></p>

<h1>Listing User Budgets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Admin</th>
      <th>Budget num</th>
      <th>Budget note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_budgets.each do |user_budget| %>
      <tr>
        <td><%= user_budget.user_id %></td>
        <td><%= user_budget.admin_id %></td>
        <td><%= user_budget.budget_num %></td>
        <td><%= user_budget.budget_note %></td>
        <td><%= link_to 'Show', user_budget %></td>
        <td><%= link_to 'Edit', edit_user_budget_path(user_budget) %></td>
        <td><%= link_to 'Destroy', user_budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User budget', new_user_budget_path %>
