<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Assets Manage" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Assets Manage" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">

      <div class="col-md-2">
          <ul class="nav nav-sidebar affix">
            <li><%=link_to "我的学部",departments_path %></li>
            <li><%=link_to "库存管理", asset_manages_path%></li>
            <li><%=link_to "Logs", logs_path %></li>
            <li><a href="#">Export</a></li>
          </ul>
      </div>

      <div class="col-md-10">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>

    <%= yield :charts_js %>

    <script>
      $("select").select2({
          theme: "bootstrap"
      });
    </script>
  </body>
</html>
